:root {
    --oscuro: #027373; /* Define la variable y asigna el valor hexadecimal */
    --claro: #A2E8D6; /* Define la variable y asigna el valor hexadecimal */
    --acento: #FFEF9B; /* Define la variable y asigna el valor hexadecimal */
    --fondo: #FFFFFF; /* Define la variable y asigna el valor hexadecimal */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

header {
    background-color: var(--oscuro);
}

header h2 {
    padding-left: 20px;
    padding-top: 10px;
}

.logo {
    color: #fff;
    padding-bottom: 40px;
}  

/*  estilo alternativo texto de introduccion
.intro {
    padding-top: 80px;
    padding-left: 6vw;
    padding-bottom: 80px;
} 
*/

.intro {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center; /* Centrado horizontal */
}

.intro h1 {
    font-weight: 800;
    font-size: 56px;
}


.intro h1, .intro p {
    margin: 0; /* Elimina el margen predeterminado para evitar desplazamientos inesperados */
}

/* Estilo para la barra de nav */
nav {
    background-color: var(--oscuro);
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: var(--claro);
    border-radius: 10px;
    color: #000;
}

/* Estilo para body */
body{
    font-size: 22px;
    background-color: #fff;
    color: #000;
}

section.intro {
    color: #fff;
    background-color: var(--oscuro);
}

.container {
    max-width: 1200px;
    margin: 0 auto 20px; /*Probando darle espacio a los container para no estar pegado al footer*/
    padding: 0 20px;
}

.lugares{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titulo {
    width: 100%;
    margin-bottom: 10px;
}

.lugar {
    position: relative;
    flex: 1 1 0;
    max-width: calc(50% - 10px);
    margin: 0 5px 20px;
}

/* Establece el ancho máximo para las dos primeras imágenes */
.lugar:nth-child(-n + 2) {
    max-width: calc(50% - 10px);
}

/* Establece el ancho máximo para las tres últimas imágenes */
.lugar:nth-last-child(-n + 3) {
    max-width: calc(33.33% - 10px);
}

.lugar img {
    width: 100%;
    border-radius: 10px;
}

.img-cuadrada { /* para darle un aspecto cuadrado a la imagen, cambiarlo a 4:3*/
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
}

.img-ancha { /* para darle un aspecto cuadrado a la imagen*/
    width: 534px;
    height: 300px;
    min-width: 534px;
    min-height: 300px;
}

.texto-encima {
    position: absolute; /* Establece el posicionamiento absoluto */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 10px; /* Ajusta la distancia desde la izquierda */
    color: white; /* Color del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 5px; /* Espaciado interior del texto */
    font-size: 14px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    border-radius: 5px; /* Borde redondeado */
}

.hipervinculo-provincia {
    display: block;
    position: relative;
    overflow: hidden; /* Asegura que el gradiente no se salga del contenedor */
}

.hipervinculo-provincia img {
    display: block; /* Hace que la imagen sea un bloque para evitar espacios vacíos */
}

.hipervinculo-provincia::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px
}

.hipervinculo-provincia:hover::after {
    opacity: 0.8;
}

.habitacion {
    overflow: hidden; /* Clearfix para contener elementos flotantes */
}

.habitacion .img-cuadrada, .rectangulo {
    border-radius: 30px; /* Aplica bordes redondeados a habitacion y rectangulo */
}

.habitacion .img-cuadrada {
    float: left; /* Coloca la imagen a la izquierda */
    margin-right: 40px; /* Agrega un margen a la derecha para separar la imagen del texto */
}

.texto-habitacion {
    margin-top: 20px;
    padding-right: 40px;
    width: 100%; /* Utiliza el 50% restante del ancho disponible */
}

.habitacion {
    position: relative; /* Asegura que el rectángulo se coloque correctamente dentro de este contenedor */
    margin-bottom: 20px;
}

.habitacion p {
    margin-top: 20px;
    color: var(--oscuro)
}

.habitacion:last-child {
    margin-bottom: 80px;
}

.rectangulo {
    position: absolute; /* Posiciona el rectángulo de forma absoluta dentro del contenedor .habitacion */
    top: 0; /* Lo alinea con la parte superior del contenedor */
    left: 0; /* Lo alinea con el margen izquierdo del contenedor */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa todo el alto del contenedor */
    border: 1px solid #ccc; /* Define el borde del rectángulo */
    box-sizing: border-box; /* Incluye el tamaño del borde en el cálculo total del tamaño del rectángulo */
}

footer {
    background-color: var(--oscuro);
    color: #fff;
    text-align: center;
    padding: 30px;
}
