:root {
    --oscuro: #027373; /* Define la variable y asigna el valor hexadecimal */
    --claro: #A2E8D6; /* Define la variable y asigna el valor hexadecimal */
    --acento: #FFEF9B; /* Define la variable y asigna el valor hexadecimal */
    --fondo: #FFFFFF; /* Define la variable y asigna el valor hexadecimal */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilo para la barra de nav */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: var(--claro);
    text-decoration: none;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilo para body */
body{
    font-size: 22px;
    background-color: #fff;
    color: #555;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.featured-hotels{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px  ;
}

.hotel {
    flex: 0 1 30%;
    text-align: center;
}

.hotel img {
    width: 100%;
    border-radius: 10px;
}

.hotel a {
    color:#555;
    text-decoration: none;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    display: block;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
