:root {
    --oscuro: #027373; /* Define la variable y asigna el valor hexadecimal */
    --claro: #A2E8D6; /* Define la variable y asigna el valor hexadecimal */
    --acento: #FFEF9B; /* Define la variable y asigna el valor hexadecimal */
    --fondo: #FFFFFF; /* Define la variable y asigna el valor hexadecimal */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

header {
    background-color: var(--oscuro);
}

.logo {
    color: #fff;
    padding-bottom: 40px;
}  

/*  estilo alternativo texto de introduccion
.intro {
    padding-top: 80px;
    padding-left: 6vw;
    padding-bottom: 80px;
} 
*/

.intro {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center; /* Centrado horizontal */
}

.intro h1 {
    font-weight: 800;
    font-size: 56px;
}


.intro h1, .intro p {
    margin: 0; /* Elimina el margen predeterminado para evitar desplazamientos inesperados */
}

/* Estilo para la barra de nav */
nav {
    background-color: var(--oscuro);
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: var(--claro);
    color: #000;
}

/* Estilo para body */
body{
    font-size: 22px;
    background-color: #fff;
    color: #000;
}

section.intro {
    color: #fff;
    background-color: var(--oscuro);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.lugares{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px  ;
}

.lugar {
    flex: 0 1 30%;
    text-align: center;
}

.lugar img {
    width: 100%;
    border-radius: 10px;
}

.lugar a {
    color:#555;
    text-decoration: none;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    display: block;
}

.footer {
    background-color: var(--oscuro);
    color: #fff;
    text-align: center;
    padding: 30px;
}
