.sidebar {
    margin-top: 10vh;
    border-radius: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    background-color: var(--claro);
}
.sidebar ul {
    width: 100%; /* Ancho del rectángulo */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    
}

.sidebar ul li {
    list-style: none;
    font-size: 18pt;
    font-weight: 600;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 100%;
}


/* nav {
    background-color: var(--oscuro);
    font-weight: 700;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  } */
  
  /* nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  } */
  
  .sidebar ul li a {
    display: inline-block;
    color: var(--oscuro);
    outline: 2px solid var(--oscuro);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: var(--oscuro);
    border-radius: 10px;
    color: var(--claro);
  }
  
  .sidebar ul li a.activo {
    outline: 2px solid white;
    background-color: var(--acento);
    border-radius: 10px;
    color: #000;
  }