:root {
    --oscuro: #027373; /* Define la variable y asigna el valor hexadecimal */
    --claro: #A2E8D6; /* Define la variable y asigna el valor hexadecimal */
    --acento: #FFEF9B; /* Define la variable y asigna el valor hexadecimal */
    --fondo: #F9F8ED; /* Define la variable y asigna el valor hexadecimal */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Usa el color del texto del elemento padre */
}

a:hover {
    text-decoration: none; /* También elimina el subrayado en hover */
}

.formulario {
    margin: 200px auto;
}

.formulario form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descripcion-enviar {
    column-gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.descripcion-enviar label {
    display: none;
}

.formulario button{
    background-color: var(--oscuro);
    color: var(--claro);
    border: 3px solid var(--oscuro);
    padding: 7px 17px;
    border-radius: 5px;
    transition-property: border, color; 
    transition-duration: 0.3s; 
    transition-timing-function: ease; 
}

.formulario button:hover{
    background-color: var(--oscuro);    
    color: var(--acento);
    border: 3px solid var(--acento);
    padding: 7px 17px;
    border-radius: 5px;
}

.formulario input{
    background-color: var(--oscuro);
    box-sizing: border-box;
    color: var(--claro);
    border: none;
    padding: 7px 17px;
    height: 100%;
    border: 3px solid var(--oscuro);
    border-radius: 5px;
    font-size: 1.4rem;
    transition: 0.3s;
}
.formulario input:focus{
    outline: none;
    border: 3px solid var(--acento)
}

::placeholder {
    color: var(--fondo);
    opacity: 0.5;
    text-align: center;
}